//sass-lint:disable selector-depth, nesting-depth
@import 'modules/plugins';

section {
  background-image: url('~assets/img/selfie-web.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;
  margin: 8vh 10vw 0;
  padding-bottom: 8vh;

  div {
    display: flex;
    justify-content: space-between;

    p {
      color: $color-white;
      font-size: $font-size-md;
      // margin-bottom: 4vh;

      a {
        color: gray(70);
        font-weight: bold;

        &:hover {
          color: $color-white;
        }
      }
    }

    ul {
      > li {
        //margin-bottom: 4vh;

        ul {
          li {
            &:first-of-type {
              color: gray(50);
              display: flex;
              font-size: $font-size-md - .3;
              font-weight: 600;
              margin-bottom: 14px;

              span {
                display: inline-block;
                height: 21px;
                margin-right: 14px;
                width: 21px;

                svg {
                  height: 100%;

                  path,
                  circle,
                  polygon {
                    fill: $color-white;
                  }
                }
              }
            }

            &:last-of-type {
              color: gray(90);
              font-size: $font-size-md;

              a {
                opacity: 1;

                &:hover {
                  opacity: .5;
                }
              }

              b {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }

  @include mq($until: tablet) {
    background-image: none;
    justify-content: start;
    margin: 8vh 3vh 0;
    padding-bottom: 0;

    div {
      flex-direction: column;
      justify-content: start;

      p {
        font-size: $font-size-nm + .2;
        margin-bottom: 4vh;

        em {
          display: none;
        }
      }

      ul {
        > li {
          margin-bottom: 6vh;

          ul {
            li {
              &:first-of-type,
              &:last-of-type {
                font-size: $font-size-nm + .2;
              }
          }
          }
        }
      }
    }
  }
}
