//sass-lint:disable selector-depth, nesting-depth, no-color-literals
@import 'modules/plugins';

section {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  margin: 0 6vw;

  div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      flex-grow: 3;

      ul {
        align-items: center;
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 14px;
          transition: .5s linear;

          &:first-of-type {
            background-color: gray(3);
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            padding: 6vh 20px 6vh 0;
            position: relative;
            width: 27vw;

            span {
              display: inline-flex;
              height: 136px;
              width: 184px;

              svg {
                height: 100%;
                width: 100%;

                &.text-area {
                  group,
                  path {
                    fill: #f7931e;
                  }
                }

                &.visual-icons {
                  group,
                  path,
                  circle {
                    fill: #009649;
                  }
                }

                &.twig-bootstrap {
                  group,
                  path {
                    fill: #8ea3ae;
                  }
                }
              }
            }

            &::after {
              border-right: 2px solid rgb(0, 89, 255);
              border-top: 2px solid rgb(0, 17, 255);
              content: '';
              display: block;
              height: 0;
              position: absolute;
              right: -5px;
              top: -5px;
              transition: .5s linear;
              width: 0;
            }
          }

          @include even {
            color: $color-white;
            font-size: $font-size-lg;
            font-weight: bold;
          }

          &:last-of-type {
            color: gray(25);
            font-size: $font-size-nm + .2;
            position: relative;

            &::after {
              background-color: gray(50);
              bottom: -4px;
              content: '';
              display: block;
              height: 1px;
              position: absolute;
              transition: .5s linear;
              width: 0%;
            }
          }
        }
      }

      &:hover {
        ul {
          li {
            &:first-of-type {
              background-color: gray(8);
              box-shadow: 0 0 1px #4195fc;

              &::after {
                height: 24px;
                transition: .5s linear;
                width: 24px;
              }
            }

            &:last-of-type {
              &::after {
                transform: .5s linear;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  @include mq($until: tablet)  {
    height: auto;
    margin: 10vh 0 0;

    div {
      flex-direction: column;

      a {
        margin-bottom: 6vh;

        ul {
          li {
            &:first-of-type {
              width: 88vw;
            }
          }
        }
      }
    }
  }
}
