// All animations

@mixin keyframes($animation, $values...) {
  @if($animation == 'fade') {
    @keyframes #{$animation} {
      to {
        opacity: 1;
      }
    }
  }
  @if($animation == 'width') {
    @keyframes #{$animation} {
      to {
        width: $values;
      }
    }
  }
  @if($animation == 'show') {
    @keyframes #{$animation} {
      to {
        visibility: visible;
      }
    }
  }
  @if($animation == 'blink') {
    @keyframes #{$animation} {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}
