//Colors
// -- Main Colors
$color-black: #222;
$color-white: #fff;

// -- Custom pallette
$ebony: #030507;
$black-bean: #020506;
$marshland: #030403;
$rangoon-green: #040403;

// -- Template Colors
$color-tpl-bg: gray(2);
$color-tpl-bg-image: linear-gradient(to right top, $ebony, $black-bean, $marshland, $rangoon-green);
$color-custom-dev: marzipan;
$color-custom-code: light-orchid;
$color-custom-des: laurel;
