//Colors
// -- Main Colors
$color-black: #222;
$color-white: #fff;
$color-link-out: #2cc75b;

// -- Custom pallette
$ebony: #030507;
$black-bean: #020202;
$marshland: #030403;
$rangoon-green: #040403;

// -- Template Colors
$color-tpl-bg: gray(1);
$color-tpl-bg-image: linear-gradient(to right top, $ebony, $black-bean, $marshland, $rangoon-green);
$color-custom-code: #f8db94;
$color-custom-des: #789971;
$color-custom-proj: #a17a94;
$color-custom-name: #91b8ce
