//Colors
// -- Main Colors
$color-black: #222;
$color-white: #fff;

// -- Template Colors
$color-tpl-bg: gray(2);
$color-tpl-bg-image: linear-gradient(to right top, #030507, #020506, #020504, #030403, #040403);
$color-custom-dev: #f8db94;
$color-custom-code: #dda0dd;
$color-custom-des: #789971;
